<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TimeSink</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>TimeSink needs Accessibility access to read window titles and track which application you are using.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/justinm35/timesink/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>y+nPz9XCOsbtBt3gWcolkb0RQryUc4kJaMTYTJaWTcI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
