# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# macOS
.DS_Store
*.swp
*~

# AppCode
.idea/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
